<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <seo>
            <product_metatag_generation>
                <is_enabled>0</is_enabled>
            </product_metatag_generation>
        </seo>
    </default>
</config>
