<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="MageSuite\DynamicDirectives\Model\Pool">
        <arguments>
            <argument name="directives" xsi:type="array">
                <item name="product_name" xsi:type="string">MageSuite\SeoProductMetatagGeneration\Model\Directive\Directives\Product\Name</item>
                <item name="product_color" xsi:type="string">MageSuite\SeoProductMetatagGeneration\Model\Directive\Directives\Product\Color</item>
            </argument>
        </arguments>
    </type>
</config>