<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="product_update_metatags" type="MageSuite\SeoProductMetatagGeneration\Plugin\Catalog\Model\Product\UpdateMetatags" />
    </type>

    <type name="MageSuite\SeoProductMetatagGeneration\Plugin\Catalog\Model\Product\UpdateMetatags">
        <arguments>
            <argument name="keys" xsi:type="array">
                <item name="meta_title" xsi:type="string">meta_title</item>
                <item name="meta_description" xsi:type="string">meta_description</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\SeoProductMetatagGeneration\Model\MetatagPool">
        <arguments>
            <argument name="metatags" xsi:type="array">
                <item name="meta_title" xsi:type="object">\MageSuite\SeoProductMetatagGeneration\Model\Metatag\MetaTitle</item>
                <item name="meta_description" xsi:type="object">MageSuite\SeoProductMetatagGeneration\Model\Metatag\MetaDescription</item>
            </argument>
        </arguments>
    </type>

</config>
